<?xml version="1.0"?>
<config>
    <modules>
        <Developer_Orderdetails>
            <version>0.1.0</version>
        </Developer_Orderdetails>
    </modules>
    <frontend>
        <routers>
            <orderdetails>
                <use>standard</use>
                <args>
                    <module>Developer_Orderdetails</module>
                    <frontName>orderdetails</frontName>
                </args>
            </orderdetails>
        </routers>
        <layout>
            <updates>
                <orderdetails>
                    <file>orderdetails.xml</file>
                </orderdetails>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <orderdetails>
                <class>Developer_Orderdetails_Helper</class>
            </orderdetails>
        </helpers>
        <blocks>
            <orderdetails>
                <class>Developer_Orderdetails_Block</class>
            </orderdetails>
        </blocks>
        <models>
            <orderdetails>
                <class>Developer_Orderdetails_Model</class>
                <resourceModel>orderdetails_mysql4</resourceModel>
            </orderdetails>
            <orderdetails_mysql4>
                <class>Developer_Orderdetails_Model_Mysql4</class>
                <entities>		  
                    <details>
                        <table>order_details</table>
                    </details>
                </entities>
            </orderdetails_mysql4>
        </models>
        <resources>
            <orderdetails_setup>
                <setup>
                    <module>Developer_Orderdetails</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderdetails_setup>
            <orderdetails_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderdetails_write>
            <orderdetails_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderdetails_read>
            <salesattribute1502047483_setup>
                <setup>
                    <module>Developer_Orderdetails</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesattribute1502047483_setup>
            <salesattribute1502047483_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesattribute1502047483_write>
            <salesattribute1502047483_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesattribute1502047483_read>
        </resources>
    </global>
    <admin>
        <routers>
            <orderdetails>
                <use>admin</use>
                <args>
                    <module>Developer_Orderdetails</module>
                    <frontName>admin_orderdetails</frontName>
                </args>
            </orderdetails>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <orderdetails module="orderdetails">
                <title>Orderdetails</title>
                <sort_order>100</sort_order>
                <children>
                    <orderdetailsbackend module="orderdetails">
                        <title>Backend Page Title</title>
                        <sort_order>0</sort_order>
                        <action>admin_orderdetails/adminhtml_orderdetailsbackend</action>
                    </orderdetailsbackend>
                    <details module="orderdetails">
                        <title>Manage Details</title>
                        <sort_order>0</sort_order>
                        <action>admin_orderdetails/adminhtml_details</action>
                    </details>
                </children>
            </orderdetails>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <orderdetails translate="title" module="orderdetails">
                            <title>Orderdetails</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <orderdetailsbackend translate="title">
                                    <title>Backend Page Title</title>
                                </orderdetailsbackend>
                                <details translate="title">
                                    <title>Manage Details</title>
                                    <sort_order>0</sort_order>
                                </details>
                            </children>
                        </orderdetails>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <orderdetails>
                    <file>orderdetails.xml</file>
                </orderdetails>
            </updates>
        </layout>
    </adminhtml>
</config> 